{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h3 align="center">Drink name 1</h3>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>{{ note.data }} <small class="text-muted">{{ note.date.strftime('%Y-%m-%d %H:%M:%S') }}</small></span>
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true" id="cross">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>

<form method="POST" class="mb-4">
  <input name="note" id="note" class="form-control mb-2" placeholder="Add new drink..." required>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Add drink name</button>
    <input type="hidden" name="form_type" value="note_form">
  </div>
</form>

<br/>

<form method="POST">
<h3 align="center">Values 1</h3>

<div class="row">
  <div class="col">
    <h3 align="center">Open values</h3>
    <ul class="list-group list-group-flush" id="open_values">
      {% for open_v in user.open_values %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ open_v.data }} <small class="text-muted">{{ open_v.date.strftime('%Y-%m-%d %H:%M:%S') }}</small></span>
        <button type="button" class="close" data-id="{{ open_v.id }}" onClick="deleteLastValues()">
            <span aria-hidden="true" id="cross">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <input name="open_v" id="open_v" class="form-control mb-3" placeholder="Add open value..." required>
  </div>

  <div class="col">
    <h3 align="center">Close values</h3>
    <ul class="list-group list-group-flush" id="close_values">
      {% for close in user.close_values %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ close.data }} <small class="text-muted">{{ close.date.strftime('%Y-%m-%d %H:%M:%S') }}</small></span>
        <button type="button" class="close" data-id="{{ close.id }}" onClick="deleteLastValues()">
            <span aria-hidden="true" id="cross">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <input name="close" id="close" class="form-control mb-3" placeholder="Add close value..." required>
  </div>
</div>
  <div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary">Add values</button>
  </div>
  <input type="hidden" name="form_type" value="values_form">
</form>

<br/>

<h3 align="center">Drink name 2</h3>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>{{ note.data }} <small class="text-muted">{{ note.date.strftime('%Y-%m-%d %H:%M:%S') }}</small></span>
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true" id="cross">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>

<form method="POST" class="mb-4">
  <input name="note" id="note" class="form-control mb-2" placeholder="Add new drink..." required>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Add drink name</button>
    <input type="hidden" name="form_type" value="note_form">
  </div>
</form>

<form method="POST">
  <h3 align="center">Values 2</h3>
  
  <div class="row">
    <div class="col">
      <h3 align="center">Open values</h3>
      <ul class="list-group list-group-flush" id="open_values">
        {% for open_v in user.open_values %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{ open_v.data }} <small class="text-muted">{{ open_v.date.strftime('%Y-%m-%d %H:%M:%S') }}</small></span>
          <button type="button" class="close" data-id="{{ open_v.id }}" onClick="deleteLastValues()">
              <span aria-hidden="true" id="cross">&times;</span>
          </button>
        </li>
        {% endfor %}
      </ul>
      <input name="open_v" id="open_v" class="form-control mb-3" placeholder="Add open value..." required>
    </div>
  
    <div class="col">
      <h3 align="center">Close values</h3>
      <ul class="list-group list-group-flush" id="close_values">
        {% for close in user.close_values %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{ close.data }} <small class="text-muted">{{ close.date.strftime('%Y-%m-%d %H:%M:%S') }}</small></span>
          <button type="button" class="close" data-id="{{ close.id }}" onClick="deleteLastValues()">
              <span aria-hidden="true" id="cross">&times;</span>
          </button>
        </li>
        {% endfor %}
      </ul>
      <input name="close" id="close" class="form-control mb-3" placeholder="Add close value..." required>
    </div>
  </div>

<div class="d-flex justify-content-center mt-3">
  <button type="submit" class="btn btn-primary">Add values</button>
</div>
<input type="hidden" name="form_type" value="values_form">
</form>

<br/>

<h3 align="center">Drink name 3</h3>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>{{ note.data }} <small class="text-muted">{{ note.date.strftime('%Y-%m-%d %H:%M:%S') }}</small></span>
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true" id="cross">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>  


<form method="POST" class="mb-4">
  <input name="note" id="note" class="form-control mb-2" placeholder="Add new drink..." required>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Add drink name</button>
    <input type="hidden" name="form_type" value="note_form">
  </div>
</form>

<form method="POST">
  <h3 align="center">Values 3</h3>
  
  <div class="row">
    <div class="col">
      <h3 align="center">Open values</h3>
      <ul class="list-group list-group-flush" id="open_values">
        {% for open_v in user.open_values %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{ open_v.data }} <small class="text-muted">{{ open_v.date.strftime('%Y-%m-%d %H:%M:%S') }}</small></span>
          <button type="button" class="close" data-id="{{ open_v.id }}" onClick="deleteLastValues()">
              <span aria-hidden="true" id="cross">&times;</span>
          </button>
        </li>
        {% endfor %}
      </ul>
      <input name="open_v" id="open_v" class="form-control mb-3" placeholder="Add open value..." required>
    </div>
  
    <div class="col">
      <h3 align="center">Close values</h3>
      <ul class="list-group list-group-flush" id="close_values">
        {% for close in user.close_values %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{ close.data }} <small class="text-muted">{{ close.date.strftime('%Y-%m-%d %H:%M:%S') }}</small></span>
          <button type="button" class="close" data-id="{{ close.id }}" onClick="deleteLastValues()">
              <span aria-hidden="true" id="cross">&times;</span>
          </button>
        </li>
        {% endfor %}
      </ul>
      <input name="close" id="close" class="form-control mb-3" placeholder="Add close value..." required>
    </div>
  </div>
    
<div class="d-flex justify-content-center mt-3">
  <button type="submit" class="btn btn-primary">Add values</button>
</div>
<input type="hidden" name="form_type" value="values_form">
</form>

{% endblock %}



